:root {
    --bg: #FEFBF5;
    --main-bg: #fff;
    --text: rgb(12, 70, 68);
    --text-cross: 
        linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 45%,var(--text) 47%,var(--text) 53%,rgba(0,0,0,0) 55%,rgba(0,0,0,0) 100%),
        linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 45%,var(--text) 47%,var(--text) 53%,rgba(0,0,0,0) 55%,rgba(0,0,0,0) 100%);

    --border: #231F20;
    --red: #8E181C;
    --red-light: rgba(248, 166, 93, 0.15);
    --red-cross:
        linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,var(--red) 45%,var(--red) 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
        linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,var(--red) 45%,var(--red) 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%);
    
    --hover: rgba(142,24,28,0.2);
    --size-text-large: 4em;
    --size-text: 1em;
    --size-text-small: .75em;

    --border-radius: 2vh;
}


/* DESKTOP STYLES 
@media (min-aspect-ratio: 3/5)
{
    :root {
        --size-text-large: 8vh;
        --size-text: 2vh;
    }
}
*/

* {    
  white-space: nowrap;
  overflow: hidden;
  font-size: inherit;
  text-overflow: inherit;
}

/* Reset some default styles */
body, h1, h2, p, ul, li, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    font-size: var(--size-text);
}

h1 {
    font-size: var(--size-text-large);
    text-align: center;
    margin-top: 2vh;
}

h2 {
    font-size: calc(var(--size-text-large)/1.5);
    margin-bottom:1px;
}

p {
    font-size: inherit;
    color: inherit;
    overflow: inherit;
    line-height: normal;
}

.container {
    display: flex;
}








.tab-button-container {
    position: relative;
    display: flex;
    left: 50%;
    top: 2vh;
    background-color: var(--main-bg);
    border-radius: var(--border-radius);

    width: 80vw;
    height: calc(var(--size-text) * 3);
    margin: calc(var(--size-text) * (-1.2)) 0 0 -40vw;
}

.tab-button {
    flex-grow: 1;
    margin: .5vh;
    background-color: var(--red-light);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    border-bottom-width: .6vh;

    transition: border-width ease-in-out .2s, color ease-in-out .2s, background-color ease-in-out .2s;

    cursor: pointer;
}

.tab-button.selected {
    background-color: var(--main-bg);   
    color: var(--border); 
    border: 1px solid var(--border);
    border-top-width: 2px;

    cursor: default;
}

.tab-button:hover:not(.selected) {
    border-bottom-width: .5vh;
}


.tab.noDisplay {
    display: none;
}

.tab.noDisplay.ignoreNoDisplay {
    display: initial;
}










.monster-div, .player-div {
    padding: 1em;
    flex-basis: 25em;
}

.monster-div {
    flex-grow: 150000;
}

.player-div {
    flex-grow: 1;
}

.shadowed{
    position: relative;
    box-shadow: inset  5px  5px 4px rgba(0, 0, 0, 0.3),
                inset -5px  5px 4px rgba(0, 0, 0, 0.3);
}

.party-input {
    background-color: var(--main-bg);
    border-radius: var(--border-radius);
    padding: .5em .3em;
}

.player-group {
    display: grid;
    grid-template-rows: var(--size-text), calc(var(--size-text) * 2);
    grid-template-columns: 3fr 1fr 3fr;
    row-gap:.5rem;
    transition: background-color ease-in-out 0.3s;
    padding: .5em;
    border-radius: var(--border-radius);
}

.player-group input {    
    background-color: var(--main-bg);
    border: 1px solid var(--border);
    border-bottom: .5vh solid;
    border-radius: .5vh;
    padding: .3em;
}

input:focus {
    outline: none;
    border-color: var(--red);
}

.group-players-label {
    grid-column: span 2 / span 2;
}

.group-players, .group-level {
    padding: .6em 0 .6em .6em;
    background: none;
}

.multiply {
    height: var(--size-text);
    width: var(--size-text);
    margin: auto;
    border: .5vh var(--main-bg);
    background: var(--text-cross);
}










/* Battle styling */

.battle-output {    
    background-color: var(--main-bg);
    border-radius: var(--border-radius);
    padding: 1em;
    margin-top: 3vh;
}

.battle-output .generator-options {
    display: flex;
    gap: .3em;
    justify-content: space-between;
}

.battle-output select, .battle-output .generate {    
    padding: .3em;
    border: 1px solid var(--border);
    border-radius: .5vh;   
    margin: 0;
    cursor: pointer;
}

.battle-output .select-strength {
    width: 35%;
    height: 5vh;
    flex-grow: 7;
    border-bottom: .5vh solid;
}

.battle-output .select-format {
    width: 40%;
    height: 5vh;
    flex-grow: 8;
    border-bottom: .5vh solid;
}


.battle-output .generate {
    width: 10%;
    height: 5vh;
    background-color: var(--red-light);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    border-bottom-width: .6vh;

    transition: border-width ease-in-out .2s;

    cursor: pointer;
}

.battle-output .generate:hover {
    border-bottom-width: .5vh;
}

.battle-output .generate:focus {
    animation: clickedButton 0.2s ease-in-out;
}

.battle-output .generate:active {
    animation: none;
}

@keyframes clickedButton {
    0% {     
        border: 1px solid var(--border);
        border-bottom-width: .5vh;
    }
    35% { 
        border: 1px solid var(--border);
        border-top-width: 3px;
    }
    65% {    
        border: 1px solid var(--border);
        border-top-width: 3px;
    }
    100% { 
        border: 1px solid var(--border);
        border-bottom-width: .5vh;
    }
}

.battle-output .display-result {
    position: relative;
    min-height: calc(var(--size-text) + (2 * var(--size-text-small)) + 0.3em);
    margin-top: 2vh;
    padding: .5em .5em;
    background-color: var(--bg);
    border: 1px var(--border) solid;
    border-radius: var(--border-radius);
}

.monster-generator-display {
        display: grid;
        width: 100%;
        height: calc(var(--size-text) + (2 * var(--size-text-small)) + 0.3em);
        grid-template-areas: 
        "name qty"
        "info qty"
        "source qty";
        grid-template-columns: 3fr 5em;
        grid-template-rows: var(--size-text) var(--size-text-small) var(--size-text-small);
        cursor: default;
        overflow: visible;
        grid-gap: 0.1em;
    }

.display-result>div:last-child{
    margin-bottom: 2em;
}

.monster-generator-display .item-name {
    font-size: var(--size-text);
    overflow: visible;
}

.monster-generator-display .item-info, .monster-generator-display .item-source {
    font-size: var(--size-text-small);
    overflow: visible;
}

.monster-gen-item p{
    overflow: visible;
}

.quantity-button {
    display: flex;
    flex-flow: row no-wrap;
    width: auto;
}

.quantity-input {
    text-align: center;
}

.quantity-button input {
    flex-basis: 2em;
    border-radius: 0;
    border: none;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-bottom-width: .5vh;
}


/* Chrome, Safari, Edge, Opera */
.quantity-button input::-webkit-outer-spin-button,
.quantity-button input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantity-button input[type=number] {
  -moz-appearance: textfield;
}

.quantity-button button {
    flex-basis: 1.5em;
    background-color: var(--red-light);
    border: 1px solid var(--border);
    border-bottom-width: .5vh;
    cursor: pointer;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
    font-weight: bold;
}

.quantity-button button.deleter{
    background-color: var(--red);
    color: var(--main-bg);
}

.quantity-button button:hover {
    border-bottom-width: .4vh;
}

.quantity-button button.increment {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.quantity-button button.decrement {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}







.monster-table-container {
    height: 33em;
    background-color: var(--main-bg);
    border-radius: var(--border-radius);
    display: flex;
}

.monster-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.monster-table th, .monster-table td {
    white-space: nowrap;
    overflow: hidden;
    transition: color ease-out .15s, background-color ease-in-out .15s;
    height: calc(var(--size-text) + var(--size-text-small));
    vertical-align: middle;
}

.monster-table td {
    padding: .5em .5em .4em .5em;
}

.monster-table th {
    background-color: var(--red-light);
    overflow: visible;
    padding: none;
}

.monster-table th p{
    background: none;
    user-select: none;
    padding-left: 1em;
}

.monster-table th p:last-child {
    padding-left: 0.5em;
}

.monster-table th:hover{
    color: var(--red);
    cursor: pointer;
}

.monster-table th:first-child p{
    padding: 0.5em 0 0.5em 0.5em;
}
/*
.monster-table th:not(:first-child):not(:last-child) p::before {
    content: " ";
    display: inline-block;
    width: calc(var(--size-text));
    height: var(--size-text);
}
*/

.monster-table tr:nth-child(even){
    background-color: var(--red-light);
}

.monster-table td.hoverable:hover {
    background-color: var(--hover);
    color: var(--red);
}

.sort-arrow{
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    visibility: hidden;
    background-color: var(--text);
    height: var(--size-text);
    width: var(--size-text);
    border-radius: 3px;    
    transition: background-color ease-in-out .15s;
}

.sort-arrow::after{
    position: absolute;
    display: block;

    width: var(--size-text);
    height: var(--size-text);

    margin-top: -50%;
    margin-left: -50%;

    top: 50%;
    left: 50%;

    color: var(--main-bg);
    font-size: var(--size-text);
}

.up .sort-arrow::after, :not(:is(.up, .down)) .sort-arrow::after {
    content: "\25B2";
}

.down .sort-arrow::after{
    content: "\25BC";
}


.selected .sort-arrow, .monster-table th:hover .sort-arrow {
    visibility: visible;
}

.monster-table th:hover .sort-arrow {
    background-color: var(--red);
}

.monster-list-display {
        display: grid;
        width: 100%;
        grid-template-areas: 
        "name level role role"
        "source size type type";
        grid-template-columns: 3fr 1fr 1fr 1fr;
        grid-template-rows: calc(var(--size-text)*1.2) calc(var(--size-text-small)*1.2);
        cursor: pointer;
    }

.monster-list-item{    
    width: inherit;
    height: auto;
    text-overflow: ellipsis;
    transition: max-height 0.5s ease-in-out;
}

.monster-list-item:is(.item-name,.item-source){
    text-align: left;

}

.monster-list-item:is(.item-level, .item-size, .item-role, .item-type){
    text-align: center;
}

.monster-list-item:is(.item-source, .item-size, .item-type) {
    font-size: var(--size-text-small);
    overflow: visible;
}

.item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.head-name {
    text-align: left;
    width: 50%;
}

.head-role {
    width: 33.333%;
}

.head-level{
    width: 16.666%;
}

.head-size, .head-source, .head-page, .head-type {
    display: none;
}








/* Wide table format */

.wide-table .monster-list-display {
    grid-template-areas: 
    "name level size type role"
    "source level size type role";
    grid-template-columns: 3fr 1fr 1.25fr 1.25fr 1fr;
}

.wide-table .monster-list-item:is(.item-name,.item-source){
    text-align: left;
}

.wide-table .monster-list-item:is(.item-level, .item-size, .item-role, .item-type){
    text-align: center;
}

.wide-table .monster-list-item:is(.item-size, .item-type) {
    font-size: var(--size-text);
}

.wide-table .head-name {
    width: 40%;
}

.wide-table .head-level {
    width: 13.333%
}

.wide-table .head-type {
    width: 13.333%;
    display: table-cell;
}

.wide-table .head-role, .wide-table .head-size {
    width: 16.666%;
    display: table-cell;
}

.wide-table .head-source, .wide-table .head-page {
    display: none;
}

.search-container {
    display: flex;
    align-items: center;
    padding: .5em;
    border-radius: var(--border-radius);
    margin-bottom: 2vh;
    background-color: var(--main-bg);
    boder: 1px solid var(--border);
    height: 2.5em;
}

.search-input {
    flex-grow: 1;
    height: 2.5em;
    padding: .5em;
    padding-left: 1.5em;
    padding-bottom: calc(.5em - .5vh);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border: 1px solid var(--border);
    border-right: none;
    border-bottom: .5vh solid var(--border);
    font-size: var(--size-text);
    background: left no-repeat url("https://assets.stickpng.com/thumbs/585e4ae1cb11b227491c3393.png");
    background-size: 1em 1em;
    background-clip: padding-box;
    background-position: .25em;
    flex-grow: 1;
    box-sizing: border-box;
}

.search-container .filter {
    padding: 0.5em;
    background-color: var(--red-light);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: 1px solid var(--border);
    border-bottom: .5vh solid var(--border);
    font-size: var(--size-text) ;
    color: var(--text);
    height: 2.5em;
    box-sizing: border-box;
    cursor: pointer;
}

.search-container .filter p {
    border: none;
    display: inline-block;
    border-radius: 0;
    padding: 0;
    height: var(--size-text);
    vertical-align: middle;
}

.search-container .filter svg{
    display: inline-block;
    height: calc(1.25 * var(--size-text));
    margin: auto;
    vertical-align: middle;
}

.search-container .filter:hover, .quantity-button button:hover {
    border-bottom-width: .4vh;
}

.search-container .filter:focus, .quantity-button button:focus {
    animation: clickedButton 0.2s ease-in-out;
}

.search-container .filter:active, .quantity-button button:active {
    animation: none
}





/* Page Number */

.page-number, .ellipsis {
    border-radius: var(--border-radius);
    margin: 0 .5vw;
}

.page-numbers {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    margin-top:1px;
    height: min(7vw, 5vh);
}

.page-number {
    padding: auto;
    color: var(--text);
    background-color: var(--main-bg);
    border: .5vh var(--main-bg) solid;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
    flex-basis: min(7vw, 5vh);
}

.page-number:hover {
    border: .5vh var(--red) solid;
}

.page-number[disabled] {
    border-color: var(--text);
    cursor: default;
}

.ellipsis {
    color: var(--text);
    padding: auto;
    background-color: var(--main-bg);
    border: .5vh var(--bg) solid;
    cursor: default;
    height: min(7vw, 5vh);
    flex-basis: min(7vw, 5vh);
}




